# C++ compiled object
*.o
*.so
*.a

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build Results
[Bb]in/
[Oo]bj/

# Packages
packages/
*.nupkg

# Rider
.idea/

# Visual Studio Code
.vscode/

# .sln for this project
problems.sln

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv